In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

In [2]:
generated_data = np.load("/Users/urkarsh.kulshrestha/Documents/AI_environment/work_env/NeurIPS2024/TS-Diffusion/OUTPUT/technos_diffusion_test.csv/ddpm_predict_technos_diffusion_test.csv.npy")
print(generated_data.shape)

(49, 24, 6)

In [3]:
original_data = np.load("/Users/urkarsh.kulshrestha/Documents/AI_environment/work_env/NeurIPS2024/TS-Diffusion/OUTPUT/technos_diffusion_test.csv/samples/netload_ground_truth_24_test.npy")
print(original_data.shape)

(49, 24, 6)

In [4]:
original_dataframe = pd.DataFrame(original_data.reshape(-1,6), columns = ['Hour', 'DayOfWeek', 'Month', 'DayOfYear', 'Average_Temperature_C', 'netload'])
generated_dataframe = pd.DataFrame(generated_data.reshape(-1,6), columns = ['Hour', 'DayOfWeek', 'Month', 'DayOfYear', 'Average_Temperature_C', 'netload'])

In [5]:
print(original_dataframe)

      Hour  DayOfWeek  Month  DayOfYear  Average_Temperature_C     netload
0      7.0        1.0    9.0      252.0                   27.1  464.860171
1      8.0        1.0    9.0      252.0                   29.1  456.044742
2      9.0        1.0    9.0      252.0                   30.7  204.742214
3     10.0        1.0    9.0      252.0                   31.7  121.911748
4     11.0        1.0    9.0      252.0                   32.7   52.186991
...    ...        ...    ...        ...                    ...         ...
1171  14.0        2.0    9.0      253.0                   31.6   36.150023
1172  15.0        2.0    9.0      253.0                   30.6   35.688836
1173  16.0        2.0    9.0      253.0                   30.5   35.664424
1174  17.0        2.0    9.0      253.0                   29.4   32.077666
1175  18.0        2.0    9.0      253.0                   28.6   15.844295

[1176 rows x 6 columns]

In [6]:
print(generated_dataframe)

           Hour  DayOfWeek     Month   DayOfYear  Average_Temperature_C  \
0     20.990515   3.999253  9.000000  255.007401              24.756402
1     22.019255   4.001148  8.999965  255.003892              24.508235
2     22.994639   4.003704  8.999720  255.004307              24.174596
3      0.000000   5.002961  8.999924  256.004555              24.085938
4      1.000927   5.002309  9.000000  256.003604              24.303154
...         ...        ...       ...         ...                    ...
1171   8.995081   0.004255  8.999541  251.014950              30.432386
1172  10.022607   0.002610  8.999852  251.012470              31.330951
1173  10.994487   0.000000  8.999770  251.014347              31.320307
1174  11.980460   0.000000  8.999782  251.018363              32.672226
1175  12.998577   0.000000  8.999783  251.017331              32.623098

         netload
0      15.488934
1      14.077615
2      22.901829
3      95.576861
4      97.453934
...          ...
1171  235.563980
1172  149.313865
1173   58.461966
1174   44.086431
1175   39.977219

[1176 rows x 6 columns]

In [ ]:
def visualize_data(original_dataframe, generated_dataframe):

SyntaxError: invalid syntax (385407805.py, line 1)